[Unit]
Description=Stardeck service
CollectMode=inactive-or-failed

Requires=stardeck-core.target
After=stardeck-core.target

[Service]
Type=dbus
BusName=org.jfhbrook.stardeck
ExecStart=/home/josh/code/jfhbrook/stardeck/scripts/stardeckd.sh
Restart=on-failure

[Install]
WantedBy=stardeck.target
